build
build/*
.cache
.cache/*
dist
dist/*
.vscode
.vscode/*
.vscode/launch.json
test/results.csv
test/modules/__pycache__
test/C/**/*.txt
test/C/**/*.xml
test/C/**/*.ll
test/C/**/*.lp
test/C/**/*.dot
test/C/**/pre_annota_error
test/C/**/lavinium_res
test/C/**/post_annota_error
test/C/**/lavinium_error
test/C/**/compilation_error
test/C_new/**/*.txt
test/C_new/**/*.xml
test/C_new/**/*.ll
test/C_new/**/*.lp
test/C_new/**/*.dot
test/C_new/**/pre_annota_error
test/C_new/**/lavinium_res
test/C_new/**/post_annota_error
test/C_new/**/lavinium_error
test/C_riscv_renesas/**/compilation_error
test/C_riscv_renesas/**/*.txt
test/C_riscv_renesas/**/*.xml
test/C_riscv_renesas/**/*.ll
test/C_riscv_renesas/**/*.lp
test/C_riscv_renesas/**/*.dot
test/C_riscv_renesas/**/pre_annota_error
test/C_riscv_renesas/**/lavinium_res
test/C_riscv_renesas/**/post_annota_error
test/C_riscv_renesas/**/lavinium_error
test/C_riscv_renesas/**/compilation_error
test/**/*.csv
test/**/*.dot
test/**/*.png
test/**/*.svg
test/C_new/fir/a.out
